{% extends "base.html" %}
{% load static %}
{% block modal_cart %}
	{% include "includes/cart_button.html" %}
{% endblock %}
{% block content %}

	<div class="bg-white py-2 px-4 rounded">
		<h2 class="pb-2 bg-white">{{ content }}</h2>
		Добро пожаловать в MTech, ваш надежный партнер в мире современных гаджетов и техники! Мы
		— команда увлеченных специалистов, стремящихся предоставить вам самые инновационные и высококачественные
		продукты на рынке. Наша цель — сделать технологию доступной и удобной для каждого.

		<h1>Кто мы?</h1>
		<p>Мы основаны на вере в то, что технологии могут улучшить жизнь. Наша компания начала свой путь с небольшой
			команды
			энтузиастов, и сегодня мы гордимся тем, что стали одним из ведущих магазинов техники и гаджетов. В нашем
			ассортименте
			вы найдете последние модели смартфонов, ноутбуков, телевизоров, бытовой техники и умных устройств для дома.
		</p>


		<h2>Наши ценности</h2>
		<p><strong>Качество и надежность:</strong> Мы тщательно отбираем каждую единицу товара, сотрудничая только с
			проверенными поставщиками и брендами. Каждое устройство проходит строгий контроль качества.</p>
		<p><strong>Клиентоориентированность:</strong> Мы ценим каждого клиента и стараемся создать максимально
			комфортные
			условия для покупки. Наша служба поддержки всегда готова помочь с выбором, ответить на вопросы и решить
			любые
			возникающие проблемы.</p>
		<p><strong>Инновации:</strong> Мы всегда в курсе последних тенденций и новинок в мире технологий. Наши эксперты
			регулярно обновляют каталог, чтобы вы могли первыми получать доступ к самым современным решениям.</p>


		<h2>Почему выбирают нас?</h2>
		<p><strong>Широкий ассортимент:</strong> В нашем магазине представлено более тысячи наименований техники и
			гаджетов
			на любой вкус и бюджет.</p>
		<p><strong>Конкурентные цены:</strong>mМы предлагаем конкурентоспособные цены и регулярно проводим акции и
			распродажи, чтобы вы могли приобретать любимые устройства по выгодным условиям.</p>
		<p><strong>Быстрая доставка:</strong> Мы понимаем, как важно получать заказы вовремя, поэтому гарантируем
			быструю и
			надежную доставку по всей стране.</p>
		<p><strong>Гарантия и поддержка:</strong> На все наши товары предоставляется гарантия. Вы можете быть уверены,
			что в случае необходимости мы окажем полную техническую поддержку.</p>


		<h2>Наши цели</h2>
		<p>Мы не останавливаемся на достигнутом и постоянно стремимся к совершенству. Наша цель — стать вашим первым
			выбором
			в мире техники и гаджетов, предоставляя вам не только продукты, но и полноценный опыт, который делает вашу
			жизнь
			проще и удобнее.</p>


		<p>Спасибо, что выбрали MTech! Мы ценим ваше доверие и готовы сделать всё, чтобы оправдать ваши ожидания.</p>


		<p>С уважением, <br>
			Команда MTech</p>
	</div>

{% endblock %}

{% block footer %}
	<footer class="py-4 mt-2 bg-dark">
		<div class="container">
			<p class="mt-0 text-center text-white">Copyright &copy; MTech 2024</p>
		</div>
	</footer>
{% endblock %}
